.article {
    display:  flex;
    flex-direction: column;
  width: 75%;
  min-width: 500px;
  gap: 20px;
}

.article-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.article-content p {
  padding:  10px;
  font-size: 1.5rem;
  text-align: justify;

}